# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

src/ecis_summer_2020/data/*
src/ecis_summer_2020/.ipynb_checkpoints/
venv/
.idea/
.DS_Store
tests/*.xml
*.ini
!tests/pytest.ini
!tests/config.ini
!resource_access/config_template.ini
src/ecis_summer_2020/.ipynb_checkpoints/ecis_to_ece-checkpoint.ipynb
